@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --off-white: #fafafa;
  overflow: auto;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(to bottom right, 	#f0afdd 0%,	#a2e5e0 100%);
  background-repeat: no-repeat;
  margin: auto;
}

.App {
  max-width: 1920px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--off-white);
}

@media (max-width: 2044px) {
  .App {
    margin: 50px;
  }
}

h1 {
  font-size: 4.5vw;
}

h2 {
  font-size: 2.5vw;
}

h3 {
  font-size: 2vw;
}

h4 {
  font-size: 1.5vw;
}

.nav {
  height: 100%;
  width: auto;
  position: sticky;
  top: 0;
  cursor:pointer;
}

.nav-elements {
  padding: 25px 50px;
  margin: 0;
  justify-content: flex-end;
  gap: 35px;
  display: flex;
  background-color: var(--off-white);
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  align-items: center;
}

.profilepic {
  border-radius: 50%;
  width: 100%;
}

.intro-text {
  padding-left: 50px;
}

.about-text {
  padding: 75px;
}

.content {
  width: auto;
  padding: 50px 100px;
  overflow: hidden;
}

.section-content {
  font-size: 2vw;
  padding: 75px;
}

.section {
  scroll-snap-align: start;
  padding: 75px 20px;
}

.skills-section {
  display: flex;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.highlight {
  font-weight: bold;
  text-shadow: 5px 2px 2px #f0afdd;
}


.project-link {
  text-align: right;
  padding: 5px;
}

.project-cards {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  margin: 20px;
  height: 325px;
  border: 3px solid black;
  box-shadow: 15px 10px 5px #f0afdd;
  overflow: hidden;
  background-color: white;
}

.card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 25px;
}

.card a:hover {
  color: #f0afdd;
}

.card * {
  transition: 0.5s ease all;
}

.card img {
  margin: 0;
  width: 450px;
  height: 250px;
  object-fit: cover;
  display: block;
}

.card h3 {
  margin: 0;
  padding: 12px 10px 40px;
  line-height: 32px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.card .focus-content {
  display: block;
  padding: 8px 8px;
}

.card p {
  margin: 0;
  line-height: normal;
  text-align: justify;
  font-size: 20px;
  padding-top: 2px;
  text-align: center;
}

.card:hover img, .card:focus-within img {
  margin-top: -130px;
}

.card:hover h3, .card:focus-within h3 {
  padding: 8px 10px 0;
}

.card:hover {
  box-shadow: none;
  transition: 1s ease;
}

.contact {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-icon {
  display: none;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}



@media screen and (max-width: 900px) {

  .App {
    margin: 0;
    padding: 10px;
    border-radius: 0;
  } 

  .intro {
    display: flex;
    flex-direction: column;
  }

  * .intro-text, .about-text, .content, .project-cards, .section-content, .skills-section {
    padding: 5px;
  }

  h1 {
    font-size: 60px;
    padding: 10px;
  }

  .card p {
    font-size: 15px;
  }

  .card h3 {
    font-size: 20px;
  }

  .card a {
    font-size: 20px;
  }


  .menu-icon {
    display:flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color:var(--off-white);
    width: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
    padding: 10px;
    
  }

  .nav-elements.active {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}