@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

:root {
  --off-white: #fafafa;
  overflow: auto;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background: linear-gradient(to bottom right, 	#f0afdd 0%,	#a2e5e0 100%);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.App {
  max-width: 1920px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--off-white);
}

h1 {
  font-size: 65px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

.title {
  float: left;
}

.nav {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  overflow: hidden;
  border-radius: 20px;
}

.nav-items {
  padding: 25px 50px;
  margin: 0;
  justify-content: flex-end;
  gap: 35px;
  display: flex;
  background-color: var(--off-white);
}

.nav-item {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}

.nav-item:hover {
  color: 	#f0afdd;
  cursor: pointer;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  align-items: center;
}

.profilepic {
  border-radius: 50%;
  width: 100%;
}

.intro-text {
  padding-left: 50px;
}

.about-text {
  padding: 75px;
}

.content {
  width: auto;
  padding: 50px 100px;
  overflow: hidden;
}

.section-content {
  line-height: 40px;
  font-size: 25px;
  padding: 75px;
}

.section {
  scroll-snap-align: start;
  padding: 75px 20px;
}

.skills-section {
  display: flex;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.highlight {
  font-weight: bold;
  text-shadow: 5px 2px 2px #f0afdd;
}


.project-link {
  text-align: right;
  padding: 5px;
}

.project-cards {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  margin: 20px;
  height: 325px;
  border: 3px solid black;
  box-shadow: 15px 10px 5px #f0afdd;
  overflow: hidden;
  background-color: white;
}

.card a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 25px;
}

.card a:hover {
  color: #f0afdd;
}

.card * {
  transition: 0.5s ease all;
}

.card img {
  margin: 0;
  width: 450px;
  height: 250px;
  object-fit: cover;
  display: block;
}

.card h3 {
  margin: 0;
  padding: 12px 10px 40px;
  line-height: 32px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.card .focus-content {
  display: block;
  padding: 8px 8px;
}

.card p {
  margin: 0;
  line-height: normal;
  text-align: justify;
  font-size: 20px;
  padding-top: 2px;
  text-align: center;
}

.card:hover img, .card:focus-within img {
  margin-top: -130px;
}

.card:hover h3, .card:focus-within h3 {
  padding: 8px 10px 0;
}

.card:hover {
  box-shadow: none;
  transition: 1s ease;
}

.contact {
  font-size: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}


@media screen and (max-width: 900px) {
  .App {
    margin: 0;
    padding: 10px;
    border-radius: 0;
  } 
  .intro {
    display: flex;
    flex-direction: column;
  }
  .content {
    padding: 0;
  }
}