@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* app css */

.App {
  margin-top: 100px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: 'Lato', sans-serif;
  align-content: center;
}

.highlight {
  font-weight: 800;
  text-shadow: 5px 5px 0px #fde6dd;
}

.fade-in {
  opacity: 0;
  transform: translateY(15vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1s ease-out, delay 2s;
  will-change: opacity, visibility;
}

.fade-in.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* nav css */

.name-logo {
  display: flex;
  font-family: 'Playfair Display', serif;
  font-weight:700;
  margin-left: 100px;
  align-items: center;
  cursor:default;
  font-size: 45px;
  background-color: white;
}

.nav {
  display: flex;
  color: black;
  background-color: white;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  position:fixed;
  top: 0;
  right: 0;
  left: 0;
  cursor:pointer;
  z-index: 10;
}

.nav-elements {
  padding: 25px 50px;
  margin: 0;
  justify-content: flex-end;
  gap: 35px;
  display: flex;
  background-color: var(--off-white);
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}

.nav-elements ul a.active {
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color:rgb(179, 191, 239);
}

/* section css */

.section {
  scroll-snap-align: start;
}

.section h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0;
}

/* intro css */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slideIn {
  from {
    margin-bottom: 100%;
    height: 70%;
  }
}


.intro {
  background-image: url('./images/clouds-back.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.intro-title h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  text-shadow: 5px 3px 3px #ffffff;
  transform:;
  color: #000000;
  font-size: 100px;
  margin: 0;
  animation-timing-function: ease-in;
  animation: slideIn 2s, fadeIn 4s;
}

.intro-text h2 {
  text-shadow: 5px 3px 3px #ffffff;
  color: #000000;
  font-size: 40px;
  margin: 0;
}

.intro-text {
  animation: fadeIn 5s;
}

.contact {
  padding-top: 15px;
  padding-bottom: 15px;
  z-index: 5;
  animation: fadeIn 5s;
}

/* about section css */

.section-content#aboutme {
  margin: 0px;
  padding-bottom: 0;
  color: black;
}

.about-section h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 70px;
  z-index: 10;
  text-decoration: underline;
  text-decoration-color: rgb(179, 191, 239);
}

.about-section .front-clouds {
  background: url("./images/clouds-front.png") bottom;
  background-repeat: repeat-x;
  background-size: contain;
  height: 100vh;
  width: 100%;
  bottom: 0;
  position: absolute;
}

.about-content {
  position: relative;
  max-width: 65%;
  display: flex;
  align-items: center;
  margin: auto;
}

.about-text {
  font-size: 20px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
  display: flex;
}

.about-text p {
  text-align: left;
  padding: 0 100px;
}


/* project section css */

.section #projects {
  background: url("./images/pink\ clouds.jpeg");
  background-attachment: fixed;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.projects {
  margin: auto;
  padding: 250px 0;
  max-width: 70%;
}

.project-text h1 {
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 75px;
  text-decoration: underline;
  text-decoration-color: rgb(179, 191, 239);
  margin: 0;
}

.project-text {
  padding-top: 175px;
  display: table-cell;
  background: url("./images/white-cloud.png") center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  height: 450px;
  vertical-align: middle;
}

.project-text p {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  font-size: 20px;
  padding: 50px;
}

span.current-project {
  font-size: 30px;
}

.project-cards {
  min-height: 100vh;
  margin: auto;
  padding: 100px 50px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
}

.current-project {
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color:  rgb(179, 191, 239);
}

.card.todo {
  background: url('./images/Todo List.png') no-repeat;
  background-size: 450px 450px;
}

.card.tictactoe {
  background: url('./images/TicTacToe.png') no-repeat;
  background-size: 450px 450px;
}

.card.calculator {
  background: url('./images/Calculator.png') no-repeat;
  background-size: 450px 450px;
}

.card.badbunch {
  background: url('./images/BadBunch.png');
  background-size: 450px 450px;
}

.card{
  position: relative;
  width: 450px;
  height: 450px;
  box-shadow: 5px 5px 20px rgba(62, 62, 62, 0.654);
  border: 10px solid rgb(255, 255, 255);
  margin: 15px;
  overflow: hidden;
}

.card *{
  position: relative;
  z-index: 2;
}

.card:hover .color-overlay{
  background:rgba(255, 255, 255, 0.9);
}

.card:hover .info{
  bottom: -5em;
  opacity: 1;
}

.color-overlay{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: 0.7s background;
  background: rgba(209, 217, 221, 0);
  z-index: 1;
}


.info{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #000000;
  line-height: 1.1em;
  padding: 20px;
  position: relative;
  opacity: 0;
  background: transparent;
  vertical-align: middle;
  text-align: center;
}

.project-link {
  padding-top: 20px;
}

.project-link {
  gap: 25px;
}

/* skills section css */

.skills-section {
  padding-bottom: 250px;
  width: 100%;
}

.cloud-border {
  background-image: url("./images/clouds-front.png");
  background-size: contain;
  background-repeat: repeat-x;
  position: relative;
  height: 300px;
  width: 100%;
  top: -25%;
}

#skills h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 75px;
  text-decoration: underline;
  text-decoration-color: rgb(178, 210, 239);
}

#skills {
  color: rgb(0, 0, 0);
  padding: 0;
  display: flex;
  margin: auto;
}

.skills-content {
  display: flex;
  margin: auto;
  padding: 56px;
  max-width: 60%;
  text-align: center;
}

/* extra section css css */

#extra {
  padding: 200px 0px;
  margin: auto;
  text-align: center;
  background-color: #c5d7f9;
}

.extra-section {
  margin: auto;
  padding: 150px;
  max-width: 60%;
  font-size: 20px;
}

.extra-section a {
  text-decoration: none;
  color: black;
}

.extra-section h1 {
  color: rgb(0, 0, 0);
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 80px;
  text-decoration: underline;
  text-decoration-color: rgb(255, 255, 255);
}

/* footer css */

.footer {
  position: relative;
  font-size: 30px;
  text-align: center;
  color: black;
  width: 100%;
  height: 200px;
}

.footer-clouds {
  background-image: url("./images/clouds-front.png");
  background-size: contain;
  position: relative;
  height: 100%;
  width: 100%;
  top: -60%;
  z-index: 100000;
}

.footer-text {
  vertical-align: middle;
  height: 150px;
}

/* hamburger menu hidden css */

.menu-icon {
  display: none;
}


/* media css */

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 900px) {

  .App {
    margin: 0;
    border-radius: 0;
    overflow: hidden;
  }

  .name-logo {
    font-size: 25px;
    margin-left: 15px;
  }

  .intro-title h1 {
    font-size: 40px;
    padding: 10px;
  }

  .intro-text{
    padding: 0;
    margin: 0;
  }

  .intro-text h2 {
    font-size: 15px;
  }

  .about-content {
    max-width: 100%;
  }

  .about-text {
    margin-top: 0;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
  }

  .about-text p {
    font-size: 15px;
  }


  .section-content h1 {
    font-size: 30px;
  }

  .project-link {
    display: block;
  }

  .projects {
    max-width: 100%;
  }

  .project-text {
    height: 350px;
    padding-top: 50px;
  }

  .project-text p {
    display: inherit;
    padding: 0 40px;
    font-size: 15px;
    margin: 20px;
  }


  .card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
  }

  .card a {
    font-size: 20px;
  }

  .skills-section {
    margin: auto;
  }

  .extra-section {
    padding: 0;
  }

  .nav {
    height: fit-content;
  }

  .menu-icon {
    display:flex;
    justify-content: flex-end;
    cursor: pointer;
    z-index: 2;
    padding: 10px;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 0px;
    background-color:var(--off-white);
    width: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
    padding: 10px;
  }

  .nav-elements.active {
    width: 180px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    z-index: 1;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }

  .footer {
    font-size: 15px;
    padding: 50px 0px;
  }
}